.about_me .company .name {
  font-weight: 600;
  font-size: 22px;
  color: #444444;
  font-family: "Droid Serif";
  line-height: 180%;
  margin-bottom: -5px;
  margin-top: 3px;
}

.about_me .company .time {
  font-size: 16px;
  color: #aaaaaa;
  margin-bottom: 10px;
}

.about_me .job {
  margin-left: 16px;
  margin-bottom: 40px;
}

.about_me .positions {
  border-left: 2px solid #efefef;
  margin-bottom: 50px;
}

.about_me .job .position {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}

.about_me .job .date {
  font-size: 15px;
  color: #aaaaaa;
}

.about_me .job .description {
  margin-top: -10px;
  font-size: 15px;
}

.about_me .thesis-wrapper {
  border-left: 2px solid #efefef;
  margin-bottom: 50px;
}
.about_me .thesis-wrapper .thesis {
  margin-left: 16px;
  margin-bottom: 40px;
}
.about_me .thesis-wrapper .thesis .title {
  margin-bottom: 0px;
  font-weight: bold;
}

.about_me .thesis-wrapper .thesis .title {
  margin-bottom: 0px;
}

.about_me .thesis-wrapper .thesis .published {
  font-size: 15px;
  color: #aaaaaa;
}

.about_me .thesis-wrapper .thesis .description {
  margin-top: -10px;
  font-size: 15px;
}

.about_me .working .right {
  float: left;
  width: 400px;
}

.about_me .working .right .logo {
  width: 40px;
  height: 40px;
}

.about_me .working .left {
  float: left;
  width: 65px;
}

.about_me .education .right {
  float: left;
  width: 600px;
}

.about_me .education .right .logo {
  width: 40px;
  height: 40px;
}

.about_me .education .left {
  float: left;
  width: 65px;
}

.about_me .education {
  margin-bottom: 32px;
}

.about_me .education .institution {
  margin: 0 !important;
  font-weight: bold;
}

.about_me .education .graduation {
  margin: 0 !important;
}

.about_me .education .date {
  margin: 0 !important;
}
