/*
.about_me .company .name {
  font-weight: 600;
  font-size: 22px;
  color: #444444;
  font-family: "Droid Serif";
  line-height: 180%;
  margin-bottom: -5px;
  margin-top: 3px;
}

.about_me .company .time {
  font-size: 16px;
  color: #aaaaaa;
  margin-bottom: 10px;
}

*/

.about_me .positions {
  border-left: 2px solid #efefef;
  margin-bottom: 50px;
  margin-left: 24px;
}

.about_me .positions .about{
  margin-left: 40px;
  margin-bottom: 20px;
}

.about_me .position {
  margin-left: 40px;
  margin-bottom: 40px;
}

.about_me .position .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;  
}

.about_me .position .date {
  font-size: 15px;
  color: #aaaaaa;
}

.about_me .position .dot
{
  margin-left: -52px;
  position: absolute;
  margin-top: 4px;
  border-radius: 100px;
  border: 6px solid #fff;;
  background: #efefef;  
  width: 10px;
  height: 10px;
}

.about_me .position .description {
  margin-top: -10px;
  font-size: 15px;
}

.about_me .position .description a {  
  font-size: 15px;
}

.about_me .right {
  float: left;
  width: 80%;
}

.about_me .right .logo {
  width: 40px;
  height: 40px;
}

.about_me .right .title {
  font-weight: 600;  
  font-size: 22px;
  color: #444444;
  font-family: "Droid Serif";
  line-height: 180%;
  margin-bottom: -5px;
  margin-top: 3px;
}

.about_me .right .time {
  font-size: 16px;
  color: #aaaaaa;
  margin-bottom: 10px;
}

.about_me .left {
  float: left;
  width: 65px;
}

.about_me .product {
  background-color: #F9F9F9;
  border-radius: 10px;
  padding: 32px 24px 8px 24px;
  margin-bottom: 32px;
  margin-top: 24px;
}