.blog .post {
  margin-bottom: 50px;  
  border: 1px solid #E5E5E5;
  border-radius: 10px;    
}

.blog .post .preview
{
  padding: 24px;
}

.blog .post .thumbnail a
{
  border-bottom: none !important; 
}

.blog .post img
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog .post a {
  font-size: 16px;
}

.blog .post h3 a {
  font-size: 24px;
  font-weight: normal;
  color: #444444;
  font-family: "Droid Serif";
  line-height: 150%;
  border-bottom: none;
}

@media only screen and (max-width: 600px) {
  .post {
    width: 100% !important;
    margin-right: 0 !important;
    float: none !important;
  }
}

.twitter-tweet {
  margin: 0 auto;
  margin-top: 16px !important;
  margin-bottom: 32px !important;
}

.image-link {
  border-bottom: none !important;
}
