.blog .post
{
    margin-bottom: 60px;
    float: left;
    width: 47%;
    margin-right: 3%;
}

.blog .post a
{
    font-size: 16px;
}

.blog .post h3 a
{    
    font-size: 24px;
    font-weight: normal;
    color: #444444;
    font-family: 'Droid Serif';
    line-height: 150%;
    border-bottom: none;
}


@media only screen and (max-width: 600px) {
    .post
    {   
        width: 100% !important;
        margin-right: 0 !important;
        float: none !important;
    }    
}

.twitter-tweet
{
    margin: 0 auto;
    margin-top: 16px !important;
    margin-bottom: 32px !important;
}