
.books .book {
  margin-bottom: 80px;
  
    border-radius: 10px;
    margin-bottom: 42px;
    padding: 32px;
    background-color: #F9F9F9;
}

.books .book .up-link
{
  margin-top: 16px;  
  text-align: center;
}

.books .book .up-link a{
  border-bottom: none !important;  
}

.books .book .up-link img{
  box-shadow: none !important;
}
.books .book .up-link img:hover{
  transform: rotate(0deg) !important;
}

.books .line
{
  height: 1px;
  width: 100%;
  background-color: #ECECEC;
  margin-bottom: 60px;
  margin-top: 40px;
}

.books .overview
{
  margin-bottom: 60px;
}

.books .overview .book-link
{
  float: left;
  margin-right: 16px;
  margin-bottom: 20px;
  width: 160px;
  height: 250px;  
}

.books .overview  .book-link img {
  height: 250px;
  border-radius: 2% !important;
  box-shadow: 1px 1px 10px #E9E9E9;
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.books .overview  .book-link img:hover {
  transform: rotate(-5deg);
  box-shadow: 5px 5px 20px #E0E0E0;
}

.books .overview  .book-link a {
  border-bottom: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.books .overview .book-link a:hover {
  border-bottom: none !important;    
}

.books .book .details a {
  font-size: 16px;
}

.books .book .details h3 a {
  font-size: 24px;
  color: #444444;
  font-family: "Droid Serif";
  line-height: 150%;
  font-weight: normal;
  border-bottom: none;
}

.books .book .cover {
  float: left;
  width: 25%;
  margin-right: 5%;
}

.books .book .cover a {
  border-bottom: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.books .book .cover a:hover {
  border-bottom: none !important;  
}

.books .book .details {
  float: left;
  width: 70%;
}

.books .book .cover img {
  border-radius: 2% !important;
  box-shadow: 1px 1px 5px #E9E9E9;
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.books .book .cover img:hover {
  transform: rotate(-5deg);
  box-shadow: 5px 5px 20px #E0E0E0;
}

.books .book .cover img:active {  
  opacity: 0.7;
}

@media only screen and (max-width: 500px) {
  .books .book .cover {
    float: none;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .books .book .details {
    float: none;
    width: 100%;

    margin-bottom: 80px;
  }
  .books .book .details h3 {
    text-align: center;
  }
  .books .book .details h5 {
    text-align: center;
  }
}

@media only screen and (max-width: 590px) {
  .books .overview
  {
    display: none;
  }

  .books .book .up-link
  {
    display: none;
  }
  .books .line
  {
    display: none;
  }
}
