#footer {
    background: white;
    position: relative;
    display: block;
    z-index: 9999 !important;
    height: 120px;
    border-top: 1px solid #ddd;
    font-family: 'Droid Sans';
    font-size: 14px;
    color: #aaaaaa;
    text-transform: uppercase;
    margin-top: 30px !important;
    
  }
  #footer:hover #heart {
    color: #D90000;
  }
  #footer .contentfooter {
    width: 960px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 0px !important;
  }
  #footer .contentfooter #text {
    float: left;
    width: 500px;
    margin-top: 12px;
    padding-left: 50px;    
  }
  #footer .contentfooter #text a {
    color: #aaaaaa;
    text-decoration: none;
    border-bottom: dotted 1px #aaaaaa;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s  ease;
    -ms-transition: all 0.3s  ease;
    transition: all 0.3s  ease;
  }
  #footer .contentfooter #text a:hover {
    color: #444444;
    border-bottom: dotted 1px #444444;
  }
  #footer .contentfooter #logos {
    float: right;    
  }
  #footer .contentfooter #logos #mail {
    background-image: url('../img/sprite.png');
    background-size: 491%; 
    background-position: 0px 0px;
    height: 40px;
    width: 40px;
    float: left;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s  ease;
    -ms-transition: all 0.3s  ease;
    transition: all 0.3s  ease;
  }
  #footer .contentfooter #logos #mail:hover {
    background-position: 0px -40px;
    cursor: pointer;
  }
  #footer .contentfooter #logos #twitter {
    background-image: url('../img/sprite.png');
    background-size: 491%; 
    background-position: -48px 0px;
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s  ease;
    -ms-transition: all 0.3s  ease;
    transition: all 0.3s  ease;
  }
  #footer .contentfooter #logos #twitter:hover {
    background-position: -48px -40px;
    cursor: pointer;
  }
  #footer .contentfooter #logos #unsplash {
    background-image: url('../img/sprite.png');
    background-size: 491%; 
    background-position: -102px 0px;
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s  ease;
    -ms-transition: all 0.3s  ease;
    transition: all 0.3s  ease;
  }
  #footer .contentfooter #logos #unsplash:hover {
    background-position: -102px -40px;
    cursor: pointer;
  }
  #footer .contentfooter #logos #dribbble {
    background-image: url('../img/sprite.png');
    background-size: 491%; 
    background-position: -156px 0px;
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s  ease;
    -ms-transition: all 0.3s  ease;
    transition: all 0.3s  ease;
  }
  #footer .contentfooter #logos #dribbble:hover {
    background-position: -156px -40px;
    cursor: pointer;
  }