.bgImageCoverMode {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.image {
  display: block !important;
  z-index: 999 !important;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin: 0 auto;
  height: 400px !important;
  width: 100%;
  position: fixed !important;
  top: 0;  
}
.text {
  display: block;
  position: relative;
  z-index: 1000;
  color: black;
  min-height: 600px;
}
@media only screen and (min-width: 1920px) {
  .image {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
}
