iframe{
    border-radius: 5px;
    box-shadow: 2px 2px 5px #EEEEEE;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

iframe:hover{
    box-shadow: 5px 5px 30px #E0E0E0;
}

video{
    border-radius: 5px;
    box-shadow: 2px 2px 50px #EEEEEE;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0 auto;    
    margin-top: 24px;
    cursor: pointer;
}

video:hover{
    box-shadow: 5px 5px 100px #bdbdbd;
}

.block
{
    display: block;
}

.video-description
{
    font-size: 14px;
    width: 300px;
    line-height: 1.5em;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 24px;
    font-family: 'Droid Serif';
}

.video-left
{
    float: left;    
    width: 300px;
}
.videos
{
    width: 90%;
    margin: 0 auto;    
}

.space
{
    width: 32px;
    height: 1px;
    float: left;
}
.in-progress
{
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 16px;
    font-size: 14px !important;
    text-align: center;
    color: grey;
    font-family: "Droid Serif";
}

.portfolio .intro h2 a {
    font-size: 32px;
    font-weight: normal;
    color: #444444;
    font-family: "Droid Serif";
    line-height: 150%;
    border-bottom: none;
  }

.portfolio .app
{
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    margin-bottom: 42px;
}

.portfolio .app p
{
    font-size: 15px;
}

.portfolio .app .intro
{
    padding: 24px;
    padding-top: 32px;
}
.portfolio .app .phone
{
    display: none;
}

.portfolio .image-right
{
    background-color: #fff;
    min-height: 100px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.grey-bg:hover
{
    background-color:#F1F9FA;
}

.portfolio .image-right .left
{      
    float: left;
    width: 25%;
    padding: 24px;
    padding-bottom: 0px !important;
    padding-top: 64px;
}

.portfolio .image-right .right
{
    float: left;    
    width: 64%;
    
}

.portfolio .bg-grey
{
    background-color: #F9F9F9 !important;
}

.portfolio .image-left
{ 
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.white-bg:hover
{
    background-color:#F1F9FA;
}

.portfolio .image-left .left
{      
    float: left;    
    width: 64%;
}

.portfolio .image-left .right
{    
    float: left;
    width: 25%;
    padding: 24px;
    padding-bottom: 0px !important;
    padding-top: 64px;
}

.portfolio img
{
    margin-bottom: -3px !important;
}

.portfolio .product
{
    background-color: #F9F9F9;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 32px;
    padding: 32px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 700px) {
    .portfolio .image-right .right
    {
        display: none;
    }
    .portfolio .image-right .left
    {
        width: auto;
        float: none;
    }
    .portfolio .image-right
    {
        padding-top: 0px;
    }

    .portfolio .image-left .right
    {
        width: auto;
        float: none;
        padding-top: 24px;
    }
    .portfolio .image-left .left
    {        
        display: none;
        padding-top: 24px;
    }
    .portfolio .image-left
    {
        padding-top: 0px;
    }

    .portfolio .app .phone
    {
        display: block;
    }
}

span.rocket {
    animation-name: rocket-animation;
    animation-duration: 5s;
    animation-delay: 1s;
    transform-origin: 70% 70%;
    display: inline-block;
    width:20px;
    height:20px;
    position: relative;
    font-weight:bold;
    font-size:20px;
    padding:10px;
}
    
@keyframes rocket-animation
{
    0% {-webkit-transform: rotate(0deg);left:0px;opacity: 1.0;}
    25% {-webkit-transform: rotate(40deg);left:0px;opacity: 1.0;}
    50% {-webkit-transform: rotate(40deg);left:400px;opacity: 0.0;}
    55% {-webkit-transform: rotate(40deg);left:400px;opacity: 0.0;}
    80% {-webkit-transform: rotate(40deg);left:0px;opacity: 1.0;}
    90% {-webkit-transform: rotate(0deg);left:0px;opacity: 1.0;}
    100% {-webkit-transform: rotate(0deg);left:0px;opacity: 1.0;}
}