@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #burgerbutton {
    background: url('../img/burgerbtn@2x.png') no-repeat !important;
    background-size: 24px 15px;
  }
}
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s  ease;
  -ms-transition: all 0.3s  ease;
  transition: all 0.3s  ease;
}
html {
  width: 100%;
}

.clearfix {
  clear: both !important;
  float: none !important;
}
#header {
  height: 400px;
}
#clearbutton {
  position: absolute;
  top: 300px;
  height: 20px;
  width: 20px;
  z-index: 100000;
}
#background {
  background-color: white;
  margin-top: 400px;
}
#wrapper {
  width: 960px;
  margin: 0px auto;
}
#logo {
  background-image: url('../img/henning.logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  height: 170px;
  width: 170px;
  border-radius: 170px;
  top: -85px;
  margin-bottom: -55px;
  position: relative;
  z-index: 9999 !important;
  margin-left: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s  ease;
  -ms-transition: all 0.3s  ease;
  transition: all 0.3s  ease;
}
#logo:hover {
  background-image: url('../img/henning.png');  
  cursor: pointer;
}
/*
.content .blog h1 {
  font-size: 44px;
  color: #444444;
  font-family: 'Droid Serif';
  margin-bottom: 5px;
}
.content .blog h2 {
  font-size: 24px;
  color: #444444;
  font-family: 'Droid Serif';  
  line-height: 180%;
}

.content .blog h2 a:hover {
  border-bottom: solid 1px #444444;
}
.content .blog h3 {
  font-size: 20px;
  color: #aaaaaa;
  font-family: 'Droid Serif';
  margin-bottom: 20px;
  line-height: 180%;
}

.content .blog h4 {
  font-size: 16px;
  color: #aaaaaa;
  font-family: 'Droid Serif';
  margin-bottom: 10px;
  line-height: 180%;
}

.content .blog p {
  font-size: 16px;
  color: #444444;
  font-family: 'Droid Serif';
  margin-bottom: 20px;
  line-height: 170%;
}
.content .blog a {
  font-weight: bold;
  color: #444444;
  text-decoration: none;
  border-bottom: dotted 1px #444444;
}
.content .blog a:hover {
  border-bottom: solid 1px #444444;
}

.content .blog .post
{
  margin-bottom: 60px;
}
*/
.content #storie .right
{  
  float: left;
  width: 400px;
}

.content #storie .right .logo
{
  width: 40px;
  height: 40px;
}

.content #storie .left
{
  float: left;
  width: 65px;
}

.content #storie .working h2
{  
    font-size: 34px;    
    margin-bottom: -10px;
}

.content #storie .about_me h2
{  
    font-size: 34px;
    margin-bottom: -10px;
}

.content #storie .company .name
{
  font-weight: 600;
  font-size: 22px;
  color: #444444;
  font-family: 'Droid Serif';  
  line-height: 180%;
  margin-bottom: -5px;
  margin-top: 3px;

}

.content #storie .company .time
{
  font-size: 16px;
  color: #aaaaaa;
  margin-bottom: 10px;
}

.content #storie .job
{  
  margin-left: 16px;
  margin-bottom: 40px;
  
}

.content #storie .positions
{  
  border-left: 2px solid #EFEFEF;
  margin-bottom: 50px;
}

.content #storie .job .position
{  
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}

.content #storie .job .date
{  
  font-size: 15px;
  color: #aaaaaa;   
}

.content #storie .job .description
{  
  margin-top: -10px;
  font-size: 15px;
}


@media only screen and (max-width: 1140px) {
  #wrapper {
    width: 100% !important;
  }
  #wrapper .content {
    width: 70% !important;
  }
  #footer .contentfooter {
    width: 100% !important;
  }
  .content .col:nth-child(4n) {
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 1140px) {
  #footer {
    margin-bottom: 50px;
    margin-top: 100px;
  }
  #footer #text,
  #footer #logos {
    float: none !important;
    clear: both !important;
    width: 900px !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }
  #footer #text {
    text-align: center;
    margin-top: 60px !important;
    width: 480px !important;
  }
  #footer #logos {
    margin: -70px auto !important;
    width: 470px !important;
  }
}
@media only screen and (max-width: 800px) {
  .image {
    height: 200px !important;
  }
  #burgerbutton {
    display: block;
  }
  #menu-sticky-wrapper {
    display: none;
    visibility: none;
  }
  #menu {
    float: none !important;
    display: none;
    visibility: none;
    margin-top: -65px;
    margin-bottom: 105px;
    width: 100%;
  }
  #menu ul {
    margin-left: 0;
  }
  #menu ul li {
    text-align: center;
    border-top: 1px solid #EEEEEE;
    font-size: 16px;
    padding-top: 8px;
    height: 32px;
    font-weight: 500;
  }
  #menu ul li:last-child {
    border-bottom: 1px solid #EEEEEE;
  }
  #logo {
    margin: 0 auto;
  }
  #footer {
    height: 100%;
    margin-top: 80px !important;
  }
  #footer #logos {
    display: none;
  }
  #footer .contentfooter {
    width: 100% !important;
  }
  #footer .contentfooter #text {
    float: left;
    width: 80% !important;
    line-height: 180%;
    margin-top: 0px !important;
  }
  .content {
    margin: 0 auto !important;
  }
  .content .design {
    text-align: center !important;
  }
  .content .design .col img {
    text-align: center;
  }
  #wrapper .content {
    margin: -50px auto !important;
    float: none !important;
    width: 90% !important;
  }
  .content .design .col {
    margin: 0 auto;
    float: none;
    margin-bottom: 0px !important;
    max-width: 100% !important;
    height: auto !important;
    border: none;
  }
  .content .design .col img {
    margin-left: 0px;
    max-width: 100% !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 1024px) {
  .image {
    position: relative !important;
    background-position: 50% 0 !important;
  }
  #background {
    margin-top: 0!important;
  }
}
/* Textmarkierungsfarbe */
/* Safari >=1.1, Opera >=9.5, IE9*/
::selection {
  background: black;
  color: #fff;
}
/* Firefox >=1 */
::-moz-selection {
  background: black;
  color: #fff;
}

.tweet
{
	padding-left: 25%;
	padding-right: 25%;	
}


