%div{:id => "header", :class => "image", :data_image_1920 => "###basepath###img/header/###page###-header-1920.jpg", :data_image_1280 => "###basepath###img/header/###page###-header-1280.jpg", :data_image_800 => "###basepath###img/header/###page###-header-800.jpg"}

<style type="text/css">#logo {background-image: url('###basepath###/img/henning.png') !important;}</style>
   
#background.text
  #wrapper
    #logo
    \ ###menu###
    .content
      #storie
        %h1 Henning Witzel
        %h2 &raquo; Luck favours the prepared mind - Louis Pasteur &laquo;
        %p Mein Name ist Henning Witzel, ich bin 25 Jahre alt und stamme aus Deutschlands gr&uuml;ner Mitte. Derzeit studiere ich <a href="#">Angewandte Informatik</a> im Masterstudiengang an der Fachhochschule Erfurt. Nach f&uuml;nf Jahren Studium bin ich nun im letzten Semester angekommen und schreibe derzeit meine Masterarbeit. 

        %p Parallel zum Studium gr&uuml;ndete ich mit einigen Studienkollegen ein Unternehmen mit dem Namen <a href="http://www.zebresel.com">Zebresel</a>. Wir sind eine Agentur f&uuml;r digitale Medien. W&auml;hrend des Studiums habe ich damit begonnen, mich intensiv mit dem <a href="http://www.henning-witzel.de/design">Design</a> von Oberfl&auml;chen f&uuml;r mobile Anwendungen und Webseiten auseinanderzusetzen. Seit dem bin ich bei Zebresel f&uuml;r das Design unserer Produkte und Auftragsarbeiten verantwortlich und lege dabei sehr gro&szligen Wert auf Usability und User Experience. 

        %p Neben meiner T&auml;tigkeit als Student, Unternehmer und Zebresler habe ich mich seit mehr als 5 Jahren der Fotografie verschrieben, um die sch&ouml;nen Momente des Lebens einzufangen. Innerhalb dieser Zeit habe ich mich in vielen Bereichen der Fotografie ausprobiert und f&uuml;hle mich bei Hochzeiten am wohlsten. Man kann mich also als Fotograf buchen :). Anfragen gerne per E-Mail an <a href="mailto:hello@henning-witzel.de">hello@henning-witzel.de</a>  oder telefonisch unter 0173 / 857 10 67. 

        %p P.S.: Es gibt auch ein paar Menschen, die mich bis heute fotografisch inspirieren und dessen Arbeiten ich sehr sch&auml;tze. Vielen Dank f&uuml;r die Inspiration <a href="http://www.stilpirat.de">Steffen B&ouml;ttcher</a> und <a href="http://juliafot.de/">Julia Fot</a>.
    .clearfix