!!!
%html
  %head
    %link{:rel => "stylesheet", :href => "css/style.css"}
    %link{:rel => "stylesheet", :href => "css/parallax.css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"}

  %body
  %script{:src => "js/jquery.2.0.2.js", :type => "text/javascript"}
  %script{:src => "js/jquery.parallax.js", :type => "text/javascript"}
  %script{:src => "js/jquery.sticky.js", :type => "text/javascript"}

  %div{:id => "header", :class => "image", :data_image => "http://localhost/henning/img/2.png", :data_image_mobil => "http://localhost/henning/img/2.png"}

  #wrapper     
    #logo
    #menu 
      %ul
        %li Start
        %li Stories
        %li Fotografien
        %li Videos
        %li Design
        %li &Uuml;ber mich
        %li Preise
        %li Kontakt
    #content
      #storie
        %h1 Hochzeit von Carolin und Johannes
        %h2 11. Mai 2013 
        %p Ende letzten Jahres bekam ich von Carolin und Johannes die Anfrage, ob ich nicht ihre Hochzeit fotografieren m&ouml;chte.  Da ich letztes Jahr <a href="#">Sophia & Tonis Hochzeit</a> begleitet hatte, habe ich nicht lange &uuml;berlegt und den Beiden zugesagt. Nach einem kleinen Kennenlern-Treffen machte ich mich auf, das Paar zu Hause zu besuchen. Wir besprachen ein paar Bildideen und hatten viel Spa&szlig; bei unserem ersten <a href="#">Foto-Shooting</a>.
        %p Am 11. Mai war es dann endlich so weit und der gro&szlig;e Tag war gekommen. Begonnen hat er mit der standesamtlichen Trauung in Kahla. Im Anschluss daran hatten wir ein entspanntes Paarshooting, was wir aber aufgrund einer aufziehenden Regenfront sp&auml;ter fortsetzen mussten. Nach einer kurzen Pause folgte die kirchliche Trauung in der kleinen Kirche in Gro&szligp&uuml;rsch&uuml;tz. Neben den Familienmitgliedern waren auch Besucher aus der kleinen Gemeinde gekommen. Emotionen, Freudentr&auml;nen und Holzsp&auml;ne rundeten die wundersch&ouml;ne Trauung ab. Anschlie&szlig;end ging es im Autokorso auf nach Oppurg zum Rittergut Positz. Nach dem Kaffeetrinken beschlossen wir, uns noch einmal zu einem kleinen Shooting zur&uuml;ckzuziehen. Ein leckeres Abendbrot, viele lustige Spiele und ein Feuerwerk machten den Tag perfekt. 
        %p Ich bedanke mich bei Carolin und Johannes f&uuml;r die Einladung und diesen wundersch&ouml;nen Tag und w&uuml;nsche euch viel Gl&uuml;ck f&uuml;r Ihre gemeinsame Zukunft. Und falls ihr einmal Nachwuchs bekommt, meldet euch ruhig bei mir :). 
        %p P.S.: Nat&uuml;rlich bedanke ich mich auch bei meiner Assistentin Annemarie f&uuml;r die tolle Unterst&uuml;tzung!
        %img{:src => "http://www.henning-witzel.de/news/carolin_johannes_hochzeit/images/carolin.johannes.hochzeit-01.jpg", :alt => "Haml"}
        %img{:src => "http://www.henning-witzel.de/news/carolin_johannes_hochzeit/images/carolin.johannes.hochzeit-02.jpg", :alt => "Haml"}
        %img{:src => "http://www.henning-witzel.de/news/carolin_johannes_hochzeit/images/carolin.johannes.hochzeit-03.jpg", :alt => "Haml"}
        %img{:src => "http://www.henning-witzel.de/news/carolin_johannes_hochzeit/images/carolin.johannes.hochzeit-04.jpg", :alt => "Haml"}
        %img{:src => "http://www.henning-witzel.de/news/carolin_johannes_hochzeit/images/carolin.johannes.hochzeit-05.jpg", :alt => "Haml"}
        %img{:src => "http://www.henning-witzel.de/news/carolin_johannes_hochzeit/images/carolin.johannes.hochzeit-06.jpg", :alt => "Haml"}


  %script{:src => "js/content.js", :type => "text/javascript"}    