%div{:id => "header", :class => "image", :data_image_1920 => "###basepath###img/header/###page###-header-1920.jpg", :data_image_1280 => "###basepath###img/header/###page###-header-1280.jpg", :data_image_800 => "###basepath###img/header/###page###-header-800.jpg"}
%noscript
  :css
    #logo {background-image: url('../img/henning.png') !important;}

#background.text
  #wrapper
    #logo
    \ ###menu###
    .content
      #storie       
        %h1 Fotoshootings
        %h2 Einzelportraits, Paarshootings, Fotoserien ...
        %p Ob im Bilderrahmen auf dem Schreibtisch, an der Wand zu Hause oder im Profil bei Facebook, Twitter und Co.: jeder h&auml;tte gerne Aufnahmen, auf denen er sich am wohlsten f&uuml;hlt. Ich lege gro&szlig;en Wert darauf Menschen so abzulichten, dass sie nat&uuml;rlich und authentisch wirken. Wenn Du bei mir ein Shooting buchst, werden wir uns gemeinsam &uuml;berlegen, welche Art Bild zu Dir passt. Dabei sind der Kreativit&auml;t keine Grenzen gesetzt. 

        %p Ich fotografiere grunds&auml;tzlich mit nat&uuml;rlichem Licht und nutze dazu sehr oft meine lichtstarken Objektive. Im Anschluss an ein Shooting gebe ich durch die Bildbearbeitung den Fotos einen unverwechselbaren Stil. 

        %p Um einen fairen Preis anzubieten, wird dieser individuell mit Dir ausgehandelt, denn Shootings variieren je nach Aufwand und Nutzen.Wenn Du Interesse an einem Fotoshooting hast, dann nimm ganz einfach <a href="#">Kontakt</a> zu mir auf und ich werde mich bei Dir melden. Eine Auswahl meiner Arbeiten findest Du <a href="#">hier</a>.
       
        %br
        %br
        %br
       
        %h1 Events
        %h2 Konzerte, Sportveranstaltungen, Partys ...
        %p Der Einstieg in die Fotografie wurde mir 2008 durch das Eventportal <a href="#">jena.eins.de</a> erm&ouml;glicht, in der ich fast ein Jahr lang als Eventfotograf t&auml;tig war. Innerhalb dieser Zeit war ich h&auml;ufig in Discotheken und auf Veranstaltungen unterwegs wodurch ich sowohl den Umgang mit Menschen als auch den Dokumentations-Stil verbessern und ausbauen konnte. Innerhalb der letzten 4 Jahre wende ich nun diese Erfahrung bei Hochzeiten, Sportevents und Veranstaltungen an und versuche den Betrachter beim Ansehen der Fotos in die Position zu versetzen, als w&auml;re er selbst mit dabei gewesen.

        %p Um einen fairen Preis f&uuml;r ein Event anzubieten, wird dieser individuell mit Dir ausgehandelt. Wenn Du Interesse daran hast, mich als Fotograf bei einem Event einzusetzen, dann nimm ganz einfach <a href="#">Kontakt</a> zu mir auf und ich werde mich bei Dir melden. Eine Auswahl meiner Arbeiten findest Du <a href="#">hier</a>.
        
        %br
        %br
        %br

        %h1 Hochzeits&shy;reportagen
        %h2 Ich tanze auf vielen Hochzeiten...
        %p Den sch&ouml;nsten Tag im Leben zweier Menschen abzulichten ist eine echte Herausforderung und fordert von einem Fotografen all seine F&auml;higkeiten ab. Im Winter 2011 durfte ich Teil meiner ersten Hochzeit sein und begleitete Sophia und Toni vom <a href="#">Standesamt</a> auf dem Weg zum Altar. Im Sommer darauf folgte die <a href="#">kirchliche Hochzeit</a>. Seitdem erhalte ich regelm&auml;&szlig;ig Anfragen. Meine beiden letzten wundervollen Paare waren <a href="#">Carolin & Johannes</a> und <a href="#">Christin & Benjamin</a>.

        %p W&auml;hrend Eurer Hochzeit fotografiere ich im Stil einer Reportage. Das bedeutet, ich mische mich unauff&auml;llig unter Eure G&auml;ste und fotografiere dabei so, dass ich die wunderbare Atmosph&auml;re des Tages einfange ohne die Fotos gestellt wirken zu lassen. Bevor die Hochzeit &uuml;berhaupt beginnt, vereinbare ich mit Euch ein Treffen, um sich kennenzulernen und herauszufinden, ob die Chemie stimmt. Es hat sich bew&auml;hrt, im Anschluss daran ein kleines Paarshooting zu veranstalten um Euch an das "Stehen vor der Kamera" zu gew&ouml;hnen und individuelle Bildideen auszuprobieren, damit wir an Eurem besonderen Tag ganz in Ruhe die Paarfotos machen k&ouml;nnen. Ein Beispiel f&uuml;r ein Vorab-Shooting findet ihr <a href="#">hier</a>. Zus&auml;tzlich bietet sich f&uuml;r Euch der Vorteil, dass ihr gleich "zivile" Paarfotos habt :).

        %p W&auml;hrend der Hochzeit werde ich den ganzen Tag zur Verf&uuml;gung stehen. Begonnen vom Umziehen am Morgen bis hin zur Party am Abend. Wenn ihr mich braucht, dann bin ich f&uuml;r Euch da. Zeitlich gibt es keine Beschr&auml;nkung. Ich fotografiere mit professioneller Ausr&uuml;stung, einer gro&szlig;en Auswahl an Objektiven und zwei Kameras um die Ausfallsicherheit und Flexibilit&auml;t zu gew&auml;hrleisten. Im Anschluss an die Hochzeit sortiere ich alle Bilder, die entstanden sind und erstelle eine Auswahl mit den besten Fotos. Ich beschr&auml;nke mich dabei weder auf eine minimale als auf eine maximale Anzahl der Bilder. Im Durchschnitt beruft sich die Anzahl auf 300-400. 

        %p Ihr bekommt von mir alle Fotos, die ich ausw&auml;hle in gr&ouml;&szlig;tm&ouml;glicher Aufl&ouml;sung f&uuml;r den Druck und in einer kleineren Aufl&ouml;sung zum Versenden per E-Mail oder &auml;hnliches. Zus&auml;tzlich bekommt ihr eine Galerie auf meiner Webseite.

        %p Wenn ihr mich bucht, dann bucht ihr nicht nur mich als Fotografen, sondern auch meine Leidenschaft f&uuml;r die Fotografie. Der Preis f&uuml;r meine Leistungen bei Eurer Hochzeit beginnt ab 600 &euro;. Auf Wunsch erstelle ich auch Danksagungskarten und ein Hochzeitsbuch, welche aber nicht im Preis mit inbegriffen sind. Wenn ich Euer Interesse geweckt habe, mich als Fotograf zu buchen, dann nehmt ganz einfach <a href="#">Kontakt</a> zu mir auf und ich werde mich bei Euch melden. Eine kleine Auswahl meiner bisherigen Hochzeiten findet ihr <a href="#">hier</a>.


        %br
        %br
        %br
       
        
        %h1 Video&shy;produktionen
        %h2 Imagefilme, Animationsfilme, Dokumentationen ...
        %p Seit Juli 2010 produziere ich in enger Zusammenarbeit mit <a href="#">Martin Gessert</a> Videos verschiedenster Art. Angefangen mit einem Imagefilm zum Thema <a href="#">Campusleben</a> in Erfurt bis hin zu einem <a href="#">Animationsvideo</a>, welches das Thema Usability in einfacher Art und Weise erl&auml;utert. 
        %p F&uuml;r die Produktion der Videos kommen zwei Spiegelreflexkameras mit diversem Videozubeh&ouml;r zum Einsatz, die Aufnahmen in Full-HD Qualit&auml;t erm&ouml;glichen. Kombiniert mit technischen Raffinessen wie ein Kamerawagen oder eine Glidecam entstehen professionelle Aufnahmen. Nat&uuml;rlich darf dabei auch eine Sportkamera nicht fehlen, damit <a href="#">Kletter und Rafting-Erlebnisse</a> wie 2011 in &Ouml;sterreich in Erinnerung bleiben. 

        %p &Uuml;berzeuge Dich selbst von unseren Videos und schau Dir <a href="#">hier</a> eine kleine Auswahl an. Wenn Du Interesse an einer Videoproduktion hast, dann nimm ganz einfach <a href="#">Kontakt</a> zu mir auf ich werde mich bei Dir melden.

    .clearfix