%div{:id => "header", :class => "image", :data_image_1920 => "###basepath###img/header/###page###-header-1920.jpg", :data_image_1280 => "###basepath###img/header/###page###-header-1280.jpg", :data_image_800 => "###basepath###img/header/###page###-header-800.jpg"}

#background.text
  #wrapper
    #logo
    \ ###menu###
    .content
      .video
        %h1 Adresse, Telefon & Co.
        %h2 Komm ruhig mal auf einen Kaffee oder eine Club Mate vorbei.
        %p Henning Witzel <br />Waidm&uuml;hlenweg 7 <br />99089 Erfurt
        %p Tel.: 0173 / 857 10 67

        %p <a href="mailto:hello@henning-witzel.de">hello@henning-witzel.de</a> <br /> <a href='www.henning-witzel.de'>www.henning-witzel.de</a>

        %br
        %h1 Follow me
        %h2 
          \ Meine 
          %s sinnvollen
          \ Beitr&auml;ge im Internet.
        %p 
          \ @twitter - 
          %a{:href => "#"} twitter.com/henning_witzel
          %br
          \ @facebook - 
          %a{:href => "#"} facebook.com/.../henning_witzel
          %br
          \ @dribbble - 
          %a{:href => "#"} dribbble.com/henning_Witzel 
          %br 
          \ @XING - 
          %a{:href => "#"} xing.com/.../henning_witzel
          %br
          \ @500px - 
          %a{:href => "#"} 500px.com/henning_witzel 
          %br
          \ @privater Blog - 
          %a{:href => "#"} digitaler-zeitvertreib.tumblr.com 
            
    .clearfix