%div{:id => "header", :class => "image", :data_image_1920 => "###basepath###img/header/###page###-header-1920.jpg", :data_image_1280 => "###basepath###img/header/###page###-header-1280.jpg", :data_image_800 => "###basepath###img/header/###page###-header-800.jpg"}
#background.text
  #wrapper     
    #logo
    \ ###menu###
    .content
      .design          
        %h1 Pepperbill Dashboard
        %h2 Screendesign
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/pepperbill.1.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/pepperbill.2.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/pepperbill.3.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/pepperbill.4.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/pepperbill.5.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/pepperbill.6.jpg"}
        .clearfix
      .design          
        %h1 Physiotherapie im Citypoint
        %h2 Webdesign & Printdesign
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/physio.1.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/physio.2.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/physio.3.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/physio.4.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/physio.5.jpg"}
        .clearfix
      .design          
        %h1 signum+
        %h2 Screendesign & Webdesign
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/signum.1.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/signum.2.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/signum.3.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/signum.4.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/signum.5.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/signum.6.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/signum.7.jpg"}

        .clearfix
      .design          
        %h1 Zebresel GbR
        %h2 Webdesign & Printdesign
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/zebresel.1.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/zebresel.2.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/zebresel.3.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/zebresel.4.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/zebresel.5.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/zebresel.6.jpg"}

        .clearfix
      .design          
        %h1 Community-Portal
        %h2 Webdesign
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/campusideen.1.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/campusideen.2.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/campusideen.3.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/campusideen.4.jpg"}         
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/campusideen.5.jpg"}

        .clearfix
      .design          
        %h1 Sonstiges
        %h2 Webdesign, Printdesign & Screendesign
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/sonstiges.1.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/sonstiges.2.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/sonstiges.3.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/sonstiges.4.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/sonstiges.5.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/sonstiges.6.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/sonstiges.7.jpg"}
          .col
            %img{:src => "###basepath###/pages/###page###/images/sonstiges.8.jpg"}
        .row
          .col
            %img{:src => "###basepath###/pages/###page###/images/sonstiges.9.jpg"}

    .clearfix