.clearfix
#footer    
  .contentfooter
    #text <a href="###basepath###impressum">IMPRESSUM</a> &copy; 2008 - 2013 Henning Witzel <span id="heart">&hearts;</span> Design & Photography
    #logos      
      #twitter
      #dribbble
      #instagram        
      #five
      #facebook
      .clearfix
%script{:src => "###basepath###js/content.js", :type => "text/javascript"}    