#burgerbutton
#menu
  %ul
    %li
      %a{:href => "###basepath###", :class => "###index_active###"} Start
    %li
      %a{:href => "###basepath###stories", :class => "###stories_active###"} Stories
    %li
      %a{:href => "###basepath###portfolio", :class => "###portfolio_active###"} Fotografien
    %li
      %a{:href => "###basepath###videos", :class => "###videos_active###"} Videos
    %li
      %a{:href => "###basepath###design", :class => "###design_active###"} Design
    %li
      %a{:href => "###basepath###benefits", :class => "###benefits_active###"} Leistungen
    %li
      %a{:href => "###basepath###about_me", :class => "###about_me_active###"} &uuml;ber mich
    %li
      %a{:href => "###basepath###contact", :class => "###contact_active###"} Kontakt