%div{:id => "header", :class => "image", :data_image_1920 => "###basepath###img/header/###page###-header-1920.jpg", :data_image_1280 => "###basepath###img/header/###page###-header-1280.jpg", :data_image_800 => "###basepath###img/header/###page###-header-800.jpg"}
  
#background.text
  #wrapper
    #logo
    \ ###menu###
    .content
      .video
        %h1 KoNUS
        %h2 Oktober 2012
        %p KoNUS ist ein Projekt der Angewandten Informatik der Fachhochschule Erfurt unter der Leitung von Prof. Dr.-Ing. Gabriele Schade. Es dient dem Aufbau von Kooperations- und Netzwerkbeziehungen zwischen der Fachhochschule und IT-Unternehmen. Der Themenschwerpunkt liegt dabei auf Usability. 

        %p Im Zuge des Projektes sollte, als zentrale Anlaufstelle, eine Webseite inklusive Imagefilm erstellt werden. Entstanden ist der Film in Zusammenarbeit mit Martin Gessert. Die Webseite findet Ihr unter <a href="http://www.konus-projekt.de">www.konus-projekt.de</a>.


        .elastic-video
          %iframe{:width => "900", :height => "511", :src => "http://player.vimeo.com/video/57923418?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff", :frameborder => "0",  :allowfullscreen => ""}

      .video
        %h1 Hochschul&shy;infotag in Erfurt
        %h2 Mai 2012
        %p Jedes Jahr veranstaltet die <a href="http://www.uni-erfurt.de">Universit&auml;t Erfurt</a> und die  <a href="http://www.fh-erfurt.de">Fachhochschule Erfurt</a> einen <a href="http://www.hit-erfurt.de">Hochschulinformationstag</a>. Dieses Jahr waren wir mit von der Partie und durften einen kurzen Werbefilm &uuml;ber den HIT 2012 erstellen.
        
        %p Entstanden ist der Film in Zusammenarbeit mit <a href="mailto: m.gessert@zebresel.de">Martin Gessert</a>.

        .elastic-video
          %iframe{:width => "900", :height => "511", :src => "http://player.vimeo.com/video/44239937?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff", :frameborder => "0",  :allowfullscreen => ""}

      .video
        %h1 &Oumlsterreich
        %h2 August 2011
        %p 10 Tage Aktivurlaub im &Ouml;tztal. Viele sportliche Aktivit&auml;ten in sch&ouml;nster Landschaft, welche vor der Linse einen wahren fotografischen Augenschmaus darstellte. Beim Rafting, Canyoning und Klettersteigen hatte ich jeweils die GoPro mit Helmhalterung dabei. Vielen Dank an dieser Stelle an Shearer f&uuml;r die Musik.
 
        .elastic-video
          %iframe{:width => "900", :height => "536", :src => "http://www.youtube.com/embed/76iuH6Gi4a8", :frameborder => "0",  :allowfullscreen => ""}

      .video
        %h1 Imagefilm Angewandte Informatik
        %h2 November 2011
        %p F&uuml;r Unternehmen, Vereine und auch f&uuml;r Hochschulen ist es mittlerweile unerl&auml;sslich einen Imagefilm zu besitzen. Aus diesem Grund wurde ein Video &uuml;ber den Studiengang Angewandte Informatik der Fachhochschule Erfurt produziert. Der Film dient dazu, Interessierten einen Einblick in das Leben an der Hochschule zu geben sowie die Bestandteile des Studiengangs n&auml;her zu erl&auml;utern.

        %p Wir bedanken uns an dieser Stelle bei den Erfurter Unternehmen Scitotec GmbH und Padango Solutions sowie bei dem Sprecher Heiko Merrbach und allen beteiligten Professoren, Professorinnen, Mitarbeitern, Mitarbeiterinnen und Studierenden der Fachhochschule Erfurt f&uuml;r die Unterst&uuml;tzung.
        
        %p Entstanden ist der Film in Zusammenarbeit mit <a href="mailto: m.gessert@zebresel.de">Martin Gessert</a>.

        .elastic-video
          %iframe{:width => "900", :height => "536", :src => "http://www.youtube.com/embed/XnDHik5P4qg", :frameborder => "0",  :allowfullscreen => ""}

      .video
        %h1 Zebresel Air View
        %h2 Mai 2011
        %p Zebresel AirView ist eine Vision, welche es vorsieht, den Menschen im Jahre 2016 neuartige Sightseeingtouren mit sozialer Vernetzung anzubieten. Hierzu werden Mikrokopter verwendet, welche an mehreren Orten weltweit platziert werden. Sie k&ouml;nnen &uuml;ber mehrere Arten angesteuert und bedient werden. Mithilfe von Augmented Reality werden dem Nutzer viele interessante Informationen in seinem aktuellen Sichtfeld eingeblendet.
         
        %p Entstanden f&uuml;r das Modul Digitale Medien III an der FH Erfurt in Zusammenarbeit mit <a href="http://www.zebresel.de">Zebresel</a>. 
        
        .elastic-video
          %iframe{:width => "900", :height => "536", :src => "http://www.youtube.com/embed/im6-mc4tglc", :frameborder => "0",  :allowfullscreen => ""}

      .video
        %h1 Air View - Der Prototyp
        %h2 Juli 2011
        %p In Anlehnung an unsere Zukunftsvision Zebresel Air View, entwickelten wir eine entsprechende reale Umsetzung. Ziel stellte dabei die Steuerung eines Mikrokopters einschlie&szlig;lich seines Kameragestells, durch Gesten mit Hilfe der Kinect dar. Die Live&uuml;bertragung des Kamerabildes aus der Luft ist ein wesentlicher Bestandteil der Anwendung.
        
        %p Entstanden f&uuml;r das Modul Digitale Medien III an der FH Erfurt in Zusammenarbeit mit <a href="http://www.zebresel.de">Zebresel</a>.
        
        .elastic-video
          %iframe{:width => "900", :height => "536", :src => "http://www.youtube.com/embed/8oGRTp73eOs", :frameborder => "0",  :allowfullscreen => ""}

      .video
        %h1 IQ-Roadshow 2011
        %h2 M&auml;rz 2011
        %p Impressionen der IQ-Roadshow 2011 Abschlussveranstaltung vom 3. M&auml;rz 2011 in der IHK Erfurt. Die DGIQ e.V. und Scitotec pr&auml;sentierten die IQ-Roadshow 2011 in Mitteldeutschland.

        %p Entstanden ist der Film in Zusammenarbeit mit <a href="mailto: m.gessert@zebresel.de">Martin Gessert</a>
        .elastic-video
          %iframe{:width => "900", :height => "536", :src => "http://www.youtube.com/embed/O8l87IApqoA", :frameborder => "0",  :allowfullscreen => ""}

      .video
        %h1 Campusleben
        %h2 Juli 2010
        %p Der Imagefilm mit dem Thema Campusleben wurde an der FH Erfurt f&uuml;r das Modul Digitale Medien II produziert. Gefilmt wurde mit meiner Nikon D90. Dabei kamen das Sigma 70-200/f2.8 und das Tokina 12-24mm F/4 (von Hannes Kroneberger) zum Einsatz.

        %p Die Bearbeitungszeit nahm im Bereich Schnitt ca. drei Tage ein. Im Bereich der Aufnahmen sind es sechs Tage geworden. Als Schnittprogramm wurde Avid Xpress von der Fachhochschule vorgegeben, bereitgestellt und verwendet.

        %p Die Musik ist Gema-Frei und wurde von DJust und Vincent Lee freundlicherweise zur Verf&uuml;gung gestellt.         
        %p Entstanden ist der Film in Zusammenarbeit mit <a href="mailto: m.gessert@zebresel.de">Martin Gessert</a> & Stefan Sachse.
        .elastic-video
          %iframe{:width => "900", :height => "536", :src => "http://www.youtube.com/embed/3bIgWD3LkoM", :frameborder => "0",  :allowfullscreen => ""}

    .clearfix
